.form1{
    width: 500px;
    height: 500px;
    background: rgba(41, 40, 40, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 10px; /* Adjust spacing as needed */
    padding-bottom: 25px;
    margin-left: 34vw;
  }
  .S{
    color: #fff !important;  /* Add !important for temporary fix */
    font-size: 25px;
    font-family: "Open Sans";
    font-weight: 520;
    letter-spacing: 6px;
    word-wrap: break-word;
  }
  
  .formGroup0{
    color: #fff ;
    width: 340px;
    font-Size: 5px;
    font-Family: "Open Sans";
    font-Weight: 400;
    letter-Spacing: 2;
    word-Wrap: break-word;
    margin-top: 10px;
     
  }
  .signupButton{
    color: rgba(15, 15, 15, 0.77);
    font-Size: 17px;
    font-Family: "Open Sans";
    font-Weight: 700;
    letter-Spacing: 2.5;
    word-Wrap: break-word;
    width: 340px;
    height: 42px; 
    background: #E6BC89;
    margin-top: 30px;
    
  }
    
    .rememberMee {
      font-family:"Open Sans";
      font-size: 13px;
      color: #fff;
      font-Weight: 350;
      letter-Spacing: 1.90;
      text-decoration: none;
      text-transform: uppercase;
      margin-left:0.5vw ;
      margin-top: 0.2vh;
    }
    
    .formGroup01{
      display: flex;
      flex-direction: row;
      margin-top: 30px;
    }
    
    .loginB{
      color: #fdfdfd;
      font-family:"Open Sans";
      font-size: 13px;
      margin-left: 10px;
      letter-Spacing: 1.90;
      font-weight: 350;
      text-decoration: none;
      text-transform: uppercase;
      margin-top: 0.2vh;
    }
    .signupButton:hover{
      background-color: #ddac71;
      border: #8a6e4c;
      color: #58462f;
    }
    .main-content {
      display: flex; 
      flex-grow: 1; 
      width: 100vw;
      height: 100vh;
      background-image: url('../../images/backk.png');
      background-color: rgb(24, 24, 24);
      background-repeat: no-repeat; 
      background-position: center; 
      background-size: cover;
      flex-direction: row;
    }
    
.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}
  