.chat-inputa{
    background: linear-gradient(180deg, #0F1012 25%, #605942 100%, #BDAC78 100%);
    display: flex;
    flex-direction: row;
    border-radius: 0.5vh;
}
.sentinput{
  width: 23vw;
  height: 3.6vh;
  margin-top: 1vh;
  background-color: #a29668;
  color: #171717;
  border-radius: 0.5vh;
}
.sentbt{
    width: 3.6vw;
    margin-top: 1vh;
    height: 3.85vh;
    border-color: #ae9668;
    color: #ae9668;
    border-radius: 0.5vh;
}
.sentbt:hover{
   background-color: #ae9668;
   color: #0F1012;
}