.afternav1 {
    width: 99vw;
    height: 75vh;
    background-image: url('../../images/Rectangle 87.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative; /* Enable positioning for pseudo-element */
  }
  
  .afternav1::before {
    content: ""; /* Empty content */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35); /* Black with 35% transparency */
    z-index: 1; /* Place above the image (optional) */
  }
.afternavtitle1{
    font-Size: 6vh;
    font-Family: "Marcellus";
    font-Weight: 400;
    word-Wrap: break-word;
    color: white;
    margin-left: 33vw;
    margin-top: 32vh;
    z-index: 1;
}
.equipetitle1{
    color: #E6BC89;
    font-Size: 3vh;
    font-Family: "Marcellus";
    font-Weight: 400;
    word-Wrap: break-word;
    padding-left: 38vw;
    padding-top: 8vh;
    z-index: 1;
}
.Contactez-Nous-button1{
    width: 150px;
    height: 33.5px;
    border: 2px solid #e6bc89;
    border-radius: 1%;
    color: #e6bc89;
    background-color: transparent;
    font-size: 2.3vh;
    font-family:"Marcellus" ;
    font-Weight: 400;
    word-Wrap: break-word;
    margin-left: 44.6vw;
    margin-top: 4.5vh;
    z-index: 1;
}
.Contactez-Nous-button1:hover{
    background-color:#76552d ;
    border-color: #715634;
    color: #e6bc89;
}
.teamcontent1{
    height: 210vh;
    display: flex;
    flex-direction: column;
    
}
.firstteam{
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
}
.avocatt1{
    margin-top: 5vh;
    margin-left: 3vw;
    height: 75vh;
    width:30vw ;
}
.avocatinfo{
    display: flex;
    flex-direction: column;
}
.avocatpaul{
    font-size: 3.5vh;
    font-family:"Marcellus" ;
    font-Weight: 400;
    word-Wrap: break-word;
    color: black;
    margin-top: 5vh;
    margin-left: 5vw;

}
.typeavct{
    font-size: 3vh;
    font-family:"Marcellus" ;
    font-Weight: 400;
    word-Wrap: break-word;
    color: #E6BC89;
    margin-left: 5vw;
}
.paragaph-avocat{
    font-size: 2vh;
    font-family:"Marcellus" ;
    font-Weight: 400;
    word-Wrap: break-word;
    color: #747373;
    margin-left: 5vw;
    line-height: 3vh;
    letter-spacing: 1.50;
    text-align: justify;
    
    

}
.paulinfo{
    font-size: 1.8vh;
    font-family:"Marcellus" ;
    font-Weight: 400;
    word-Wrap: break-word;
    color: black;
    margin-left: 5vw;
    line-height: 5vh;
    letter-spacing: 0.90;
}
.phone-paul{
    display: flex;
    flex-direction: row
}
.paulicon{
    margin-left: 5vw;  
    height: 3.6vh;
}
.paulnumber{
    font-size: 2vh;
    font-family:"Marcellus" ;
    font-Weight: 400;
    word-Wrap: break-word;
    letter-spacing: 1;
    color: black;
    margin-left: 1.5vw;
    margin-top: 0.7vh;
}
.mail-paul{
    display: flex;
    flex-direction: row
}
.pauliconmail{
    margin-left: 5vw;  
    height: 3.6vh;
    width: 1.6vw;
    margin-top: 1vh;
}
.paulmail{
    font-size: 2vh;
    font-family:"Marcellus" ;
    font-Weight: 400;
    word-Wrap: break-word;
    letter-spacing: 1;
    color: black;
    margin-left: 1.5vw;
    margin-top: 1.6vh;
}
.socialmedia-paul{
    display: flex;
    flex-direction: row;
}
.pauliconfacebook{
    margin-left: 4.7vw;  
    height: 3.8vh;
    width: 1.9vw;
    margin-top: 2vh;
}
.pauliconlinkedin{
    margin-left: 1vw;  
    height: 3.8vh;
    width: 1.9vw;
    margin-top: 2vh;
}
.contactmoi{
    display: flex;
    flex-direction: column;
    height: 72vh;
    background: #D9D9D9;
    width:120vw ;
    margin-top: 4.7vh;
    margin-right: 2vw;
    margin-left: 3vw;
}
.contactmoi-titre{
    font-size: 2.8vh;
    font-family:"Marcellus" ;
    font-Weight: 400;
    word-Wrap: break-word;
    color: #161D2F;
    margin-bottom: 7vh;
   
}
.Nom-complet{
    font-size: 2vh;
    font-family:"Marcellus" ;
    font-Weight: 400;
    word-Wrap: break-word;
    color: #6E6D6D;
    width: 20vw;
}
.Numéro-telephone{
    font-size: 2vh;
    font-family:"Marcellus" ;
    font-Weight: 400;
    word-Wrap: break-word;
    color: #6E6D6D;
    width: 20vw;
}
.Message{
    font-size: 2vh;
    font-family:"Marcellus" ;
    font-Weight: 400;
    word-Wrap: break-word;
    color: #6E6D6D;
    width: 20vw;
}
.Envoyerpaul{
    width: 13vw;
    height: 6vh;
    background-color: #161D2F;
    border-color: #161D2F;
    color: white;
    font-size: 2.5vh;
    font-family: "Marcellus";
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 9.5vh;
}
#select-parcour{
    height: 7.3vh;
    width: 93vw;
    margin-top: 5vh;
    background-color:#161D2F;
    color: #F4F4F4;
    border-color: #161D2F;
    font-family: "Marcellus";
    word-wrap: break-word;
    margin-left: 2.8vw;
    font-size: 2.6vh;
    font-weight: 400;
    padding-left: 1vw;
    
  }

.thelinee{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#teamTitlee{
    font-Size: 5.7vh;
    font-Family: "Marcellus";
    font-Weight: 400;
    word-Wrap: break-word;
    color: #2c2929; 
    margin-top: 11vh;  
}
.leftLinee{
   height:0.3vh;
   width: 36vw;
   background-color: #E6BC89;
   margin-top: 15vh;
   margin-right: 3vw;
   margin-left: 2vw;
   
}
.rightLinee{
   height:0.3vh;
   width: 35vw;
   background-color: #E6BC89;
   margin-top: 15vh;
   margin-left: 3vw;
   margin-right: 1.8vw;
}
.restofteam{
    display: flex;
    flex-direction: row;
}
.avocatafter{
    height: 30vh;
    width: 35;
    margin-left: 5.7vw;
    margin-top: 10vh;
}
.firstname22{
    font-Family: "Marcellus";
    font-Weight: 400;
    word-Wrap: break-word;
    color:black; 
    font-size: 2.8vh;
    margin-top: 3.5vh;
    margin-left: 10vw;
    text-decoration: none;
}

.typeavocat22{
    font-Family: "IM FELL Great Primer";
    font-Weight: 400;
    word-Wrap: break-word;
    color: #E6BC89;
    font-size: 2.7vh;
    margin-left: 12vw;
    margin-top: 0.3vh;
}
.firstname33{
    font-Family: "Marcellus";
    font-Weight: 400;
    word-Wrap: break-word;
    color:black; 
    font-size: 2.8vh;
    margin-left: 9vw;
    margin-top: 3.5vh;
   
}

.typeavocat33{
    font-Family: "IM FELL Great Primer";
    font-Weight: 400;
    word-Wrap: break-word;
    color: #E6BC89;
    font-size: 2.7vh;
    margin-left: 12vw;
    margin-top: 0.3vh;
}  
.firstname44{
    font-Family: "Marcellus";
    font-Weight: 400;
    word-Wrap: break-word;
    color:black; 
    font-size: 2.8vh;
    margin-left: 8vw;
    margin-top: 3.5vh;
}

.typeavocat44{
    font-Family: "IM FELL Great Primer";
    font-Weight: 400;
    word-Wrap: break-word;
    color: #E6BC89;
    font-size: 2.7vh;
    margin-left: 12vw;
    margin-top: 0.3vh;
}
.firstnamee{
    font-Family: "Marcellus";
    font-Weight: 400;
    word-Wrap: break-word;
    color:black; 
    font-size: 2.8vh;
    margin-left: 6.5vw;
    margin-top: 3.7vh;
    margin-bottom: 3vh;
    text-decoration: none;
}
.typeavocatt{
    font-Family: "IM FELL Great Primer";
    font-Weight: 400;
    word-Wrap: break-word;
    color: #E6BC89;
    font-size: 2.7vh;
    margin-left: 12vw;
    margin-top: 0.3vh;
<<<<<<< HEAD
}
/*******Affichage Responsive***************/
@media (max-width: 768px) {
  .afternavtitle1 {
    text-align:center;
    font-size: 20px;
    margin-left: 27.7vw;
    margin-top: 30vw;
  }
}
@media (max-width: 768px) {
  #equipepaul {
    text-align:center;
    font-size: 15px;
    margin-left: -43vw;
    margin-top: -8vw;
  }
}
@media (max-width: 768px) {
#image2 {
    height: 40vh;

  }
}

@media (max-width: 768px) {
.hidden-mobile2{
    display: none;
  }
}
@media (max-width: 768px) {
#avocatpaul{
    font-size:4vw;
  }
}

@media (max-width: 768px) {
#avocat2{
    width:auto;
    height: 20vh;
  }
}
/*affichage image fou9 texte */
@media (max-width: 768px) {
  .firstteam {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }
}
@media (max-width: 768px) {
#iconmail{
    width:5vw;
    height: 4vh;
  }
}

@media (max-width: 768px) {
.contenubase2{
    width:99vw;
    height: 140vh;
  }
}
=======
}
>>>>>>> 0ff422489e84264e0718e54143f3f978f7f0e119
