footer {
    background-color: #000000;
    color: #fff;
    display: flex; 
    justify-content: space-between; 
    padding-top:5vh;
    padding-right: 3vw;
    padding-left: 3vw;
    width: 93vw;
    height: 87vh;
  }
  
  
  
  .footer-section1 {
    flex: 1; 
    text-align: justify;
    flex-direction:column;
    color: white;
    font-Size: 16 px;
    font-Family: "Open Sans";
    font-Weight: 400;
    letter-Spacing: 0.25;
    word-Wrap: break-word;
    margin-right: 20px; 
    margin-left: 10px;
    margin-bottom: 2vh;
    
  }
  .footer-section2 {
    flex: 1; 
    text-align: justify;
    flex-direction:column;
    color: white;
    font-Size: 16 px;
    font-Family: "Open Sans";
    font-Weight: 400;
    letter-Spacing: 0.25;
    word-Wrap: break-word;
    padding-right: 3vw;
  }
  .footer-section3{
    text-align: justify;
    flex-direction:column;
    color: white;
    font-Family: "Open Sans";
    letter-Spacing: 0.32;
    margin-right: 15px;
   
    
  }
  .logo3{
  height: 10vh;
  width: 8vw;
  margin-left: 1vw;
  margin-top: 0.1vh;
}
  .footer-logo {
    width: 150px; 
  }
  
  .map{
    align-items: center;
    width: 40vw;
    height: 25vh;
    margin-right: 4vw;
    margin-bottom: 2vh;
  }
  .qu{
    color: white;
    font-Size: 20px;
    font-Family: "Open Sans";
    font-Weight: 400;
    word-Wrap: break-word;
    margin-bottom: 3vh;
  }
  .footer-text{
    font-Family: "Marcellus";
    margin-bottom: 2.5vh;
    font-size: 15px;
  }
  
  .qu1{
    background: linear-gradient(
      180deg,
      #76453b 5.9%,
      #e5bb89 88.4%,
      #ffda92 95.5%
    );
    -ms-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: "Sree Krushnadevaraya";
    font-size: 2.3em;
  }

  .footer-section3 h1{
    color: #F4F4F4;
    font-Size: 37;
    font-Family: "Marcellus";
    font-Weight: 400;
    word-Wrap: break-word;
    list-style: 1.4;
  }
  .Contactez-Nous{
    text-decoration: none; 
    background: #d6b082;
    border-Radius: 20px;
    width: 260px;
    height: 45px; 
    color: black;
    font-Size: 25px;
    font-Family: "Marcellus";
    font-Weight: 400;
    word-Wrap: break-word;
    margin-bottom: 0.5vh;
  }
  .Contactez-Nous:hover{
    background-color: transparent;
    border-color:#E6BC89 ;
    color: #e5bb89;
  }
  .contact-footer{
    font-Size: 14px;
    font-Family: "Open Sans";
    font-weight: lighter;
    margin-left: 1vw;
  }
  
  .linkedin{
    color: #F4F4F4;
    font-Size: 15x;
    font-Family: "Marcellus";
    font-Weight: 400;
    word-Wrap: break-word;
    text-decoration: none;
    margin-left: 1vw;
   
  }
  .footer-info{
    font-Size: 20px;
    font-Family: "Open Sans";
    letter-spacing: 0.07vw;
  }
  .footer-text-copy{
    font-size: 15px;
    font-Family: "Open Sans";
    letter-spacing: 0.1vw;
    margin-top: 5vh;
    margin-left: 2vw;
  }
  
 